.noChat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    &__info {
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
    }
}