.message {
    margin: 0.1vw;
    min-width: 1em;
    width: fit-content;
    max-width: 45%;
    padding: 0.8vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    word-wrap: break-word;
    word-break: break-all;
}