.chatWindowWrapper {
    display: block;

    &__chatWindow {
        height: 50em;
        display: flex;
        flex-direction: column;
    }

    &__messagesWrapper {
        flex-shrink: 1;
        flex-grow: 1;
        margin-right: 0.2em;
        max-width: 100vw;
        border-bottom: 20px solid transparent;
        border-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 2%, rgba(255, 255, 255, 1) 1%);
        border-image-slice: 100;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.4em;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #8888;
            border-radius: 10em;

            &:hover {
                background-color: #555;
            }
        }
    }

    &__messages {
        padding: 0 0 1em 0;
        height: 70vh;
        width: 99%;
        display: flex;
        flex-direction: column;
    }
}