.header {
    display: flex;
    height: 3vh;
    padding: 1vw;
    border-bottom: solid black 2px;
    font-size: larger;
    justify-content: space-between;

    &__currentUser {
        align-self: flex-start;
    }

    &__usernameHighlight {
        color: gray;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__logoutElement {
        display: flex;
        justify-content: center;
    }

    &__logout {
        padding: 0.2em 1em;
        border-radius: 1em;
        border: none;
        background-color: transparent;
        box-shadow: 0px 0px 2px black;
        cursor: pointer;

        &:active {
            background-color: #ddd
        }
    }
}